<ion-header>

  <ion-navbar>
    <ion-title>login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    
<form [formGroup]="RegisterForm" novalidate>
		<ion-item>
			<ion-label stacked>E-mail</ion-label>
			<ion-input [(ngModel)]="login.email" #email type="text" spellcheck="false" autocapitalize="off" formControlName = "email" required>
			</ion-input>
        </ion-item> 
        <ion-item *ngIf="!RegisterForm.controls.email.valid  && submitAttempt">
            <p>* Email is required!</p>
        </ion-item>

        <ion-item>
            <ion-label stacked>Password</ion-label>
            <ion-input [(ngModel)]="login.password" #password type="password" formControlName = "password" required>
            </ion-input>
		</ion-item>
    
       <ion-item *ngIf="!RegisterForm.controls.password.valid  && submitAttempt">
            <p>* Password is required!</p>
        </ion-item>

       
    
</form>
	<button ion-button (click)="onLogin()" type="submit" color="primary" block>Login</button>
</ion-content>
